<!-- ===================== NAVBAR SUPERIOR ===================== -->
<nav class="navbar navbar-expand-lg custom-navbar-social"     
[class.scrolled]="isScrolled">

  
  <div class="container-fluid align-items-center">

    <!-- Logo -->
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logoB.png" alt="Logo" class="navbar-logo">
    </a>

    <!-- 🔍 BUSCADOR CENTRADO -->
    <form class="search-container-top" (ngSubmit)="buscarProducto()">
      <div class="search-wrapper">
        <input
          class="form-control"
          type="search"
          placeholder="Buscar producto..."
          [(ngModel)]="terminoBusqueda"
          name="busquedaTop"
          (input)="onInputChange()"
          (keydown)="onKeyDown($event)"
          autocomplete="off"
        />

        <!-- Dropdown sugerencias -->
        <div class="sugerencias-dropdown"
             *ngIf="mostrarSugerencias && sugerencias.length > 0">
          <div
            class="sugerencia-item"
            *ngFor="let producto of sugerencias; let i = index"
            [class.selected]="i === indiceSeleccionado"
            (click)="seleccionarSugerencia(producto)">
            <img [src]="producto.image" class="sugerencia-img">
            <div>
              <div class="sugerencia-nombre">{{ producto.name }}</div>
              <div class="sugerencia-categoria">{{ producto.category }}</div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- Redes + Carrito + Historial -->
  <div class="top-contact">
  <a href="https://wa.me/51934307489" target="_blank">
    <i class="fa-brands fa-whatsapp"></i> 934 307 489
  </a>

  <span class="top-separator">|</span>

  <a href="https://www.google.com/maps?q=Av.+Cesar+Vallejo+1005" target="_blank">
    <i class="fa-solid fa-location-dot"></i> Av. Cesar Vallejo 1005
  </a>
</div>

<div class="redes-sociales">
  <a href="https://www.instagram.com" target="_blank">
    <img src="assets/Instagram.png">
  </a>
  <a href="https://www.facebook.com" target="_blank">
    <img src="assets/Facebook.png">
  </a>
  <a href="https://www.tiktok.com" target="_blank">
    <img src="assets/Tiktok.png">
  </a>
</div>


  </div>
</nav>



<!-- ===================== NAVBAR PRINCIPAL ===================== -->
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar-main">
  <div class="container-fluid">




    
<button
  class="navbar-toggler mobile-toggler d-lg-none"
  type="button"
  (click)="toggleMobilePanel()">
  <i class="fa-solid fa-bars"></i>
</button>
<a class="navbar-brand mini-logo-fixed" (click)="irAlInicio()">
  <img src="assets/logoB.png" alt="Logo">
</a>

    <!-- 🔥 ICONOS DERECHA SOLO MOBILE -->
    <div class="mobile-right-icons d-lg-none">
      <a routerLink="/carrito" class="icon-btn position-relative">
        <i class="fa-solid fa-cart-arrow-down"></i>
        <span class="badge">{{ cantidadProductos }}</span>
      </a>

      <a routerLink="/historial" class="icon-btn">
        <i class="fa-regular fa-user"></i>
      </a>
    </div>


    <!-- Collapse (menú + buscador desktop + iconos) -->
    <div class="collapse navbar-collapse" id="navbarMain">
<!-- Logo mini fijo -->

    <div class="menu-center-wrapper">
  <ul class="navbar-nav menu-center mb-2 mb-lg-0">

        <li class="nav-item"><a class="nav-link" routerLink="/" (click)="cerrarMenu()">INICIO</a></li>
<li class="nav-item categorias-item" [class.open]="categoriasAbiertas">
  <a class="nav-link categorias-toggle"
     href="#"
     (click)="toggleCategorias($event)">
    CATEGORÍAS
    <i class="fa-solid fa-chevron-down"></i>
  </a>

  <!-- 🔽 Submenú -->
  <ul class="categorias-dropdown">
    <li *ngFor="let cat of categorias">
      <a [routerLink]="['/categoria-productos', cat.name]"
         (click)="cerrarCategorias()">
        {{ cat.name }}
      </a>
    </li>
  </ul>
</li>
        <li class="nav-item"><a class="nav-link" routerLink="/ofertas" (click)="cerrarMenu()">OFERTAS</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/favoritos" (click)="cerrarMenu()">FAVORITOS</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/nosotros" (click)="cerrarMenu()">NOSOTROS</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contactenos" (click)="cerrarMenu()">CONTACTENOS</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/productos" (click)="cerrarMenu()">PRODUCTOS</a></li>
  </ul>
</div>


      <!-- 📍 CONTACTO -->
      <div class="navbar-contact-container-main">
    
              <!-- 🛒 Carrito -->
      <a routerLink="/carrito" class="icon-btn position-relative">
<i class="fa-solid fa-cart-arrow-down"></i>

<!-- carrito clásico -->
        <span class="badge">{{ cantidadProductos }}</span>
      </a>

      <!-- 🕘 Historial -->
      <a routerLink="/historial" class="icon-btn">
<i class="fa-regular fa-user"></i>        <!-- más liviano -->
      </a>
      </div>

    </div>

  </div>

  <!-- ================= MOBILE PANEL ================= -->
<div class="mobile-panel" *ngIf="mobilePanelOpen">

  <!-- 🔍 Buscador -->
<!-- 🔍 Buscador -->
<!-- 🔍 BUSCADOR MOBILE (MISMO DEL NAVBAR) -->
<div class="mobile-search">

  <form class="search-container-top" (ngSubmit)="buscarProducto()">
    <div class="search-wrapper">
      <input
        class="form-control"
        type="search"
        placeholder="Buscar producto..."
        [(ngModel)]="terminoBusqueda"
        name="busquedaMobile"
        (input)="onInputChange()"
        (keydown)="onKeyDown($event)"
        autocomplete="off"
      />

      <div class="sugerencias-dropdown"
           *ngIf="mostrarSugerencias && sugerencias.length > 0">
        <div
          class="sugerencia-item"
          *ngFor="let producto of sugerencias; let i = index"
          [class.selected]="i === indiceSeleccionado"
          (click)="seleccionarSugerencia(producto)">
          <img [src]="producto.image" class="sugerencia-img">
          <div>
            <div class="sugerencia-nombre">{{ producto.name }}</div>
            <div class="sugerencia-categoria">{{ producto.category }}</div>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>


  

  <!-- Tabs -->
  <div class="mobile-tabs">
    <button
      [class.active]="mobileTab === 'menu'"
      (click)="setMobileTab('menu')">
      MENÚ
    </button>

    <button
      [class.active]="mobileTab === 'categorias'"
      (click)="setMobileTab('categorias')">
      CATEGORÍAS
    </button>
  </div>

  <!-- CONTENIDO -->
  <div class="mobile-content">

    <!-- MENU -->
    <ul *ngIf="mobileTab === 'menu'">
      <li><a routerLink="/" (click)="toggleMobilePanel()">INICIO</a></li>
      <li><a routerLink="/ofertas" (click)="toggleMobilePanel()">OFERTAS</a></li>
      <li><a routerLink="/favoritos" (click)="toggleMobilePanel()">FAVORITOS</a></li>
      <li><a routerLink="/nosotros" (click)="toggleMobilePanel()">NOSOTROS</a></li>
      <li><a routerLink="/contactenos" (click)="toggleMobilePanel()">CONTACTENOS</a></li>
      <li><a routerLink="/productos" (click)="toggleMobilePanel()">PRODUCTOS</a></li>
    </ul>

    <!-- CATEGORIAS -->
    <ul *ngIf="mobileTab === 'categorias'">
      <li *ngFor="let cat of categorias">
        <a
          [routerLink]="['/categoria-productos', cat.name]"
          (click)="toggleMobilePanel()">
          {{ cat.name }}
        </a>
      </li>
    </ul>

  </div>
</div>

</nav>













<!-- ================= MOBILE HEADER NAVBAR 
<nav class="navbar-mobile-header d-lg-none">
<button
  class="navbar-toggler mobile-toggler d-lg-none"
  type="button"
  (click)="toggleMobilePanel()">
  <i class="fa-solid fa-bars"></i>
</button>

  <div class="mobile-logo">
    <a routerLink="/">
      <img src="assets/logoB.png" alt="Logo">
    </a>
  </div>

  <div class="mobile-icons">
    <a routerLink="/carrito" class="icon-btn position-relative">
      <i class="fa-solid fa-cart-arrow-down"></i>
      <span class="badge">{{ cantidadProductos }}</span>
    </a>

    <a routerLink="/historial" class="icon-btn">
      <i class="fa-regular fa-user"></i>
    </a>
  </div>
</nav>
================= -->