<div class="container">
  <h2>Encuéntranos en Google Maps</h2>


<div class="ubicacion-wrapper">
  <div class="info-section">
    <h2>Contáctanos</h2>
    <p><strong>Dirección:</strong> Av. César Vallejo N° 1005 - Barrio Aranjuez - Trujillo_Perú, Trujillo, Peru</p>
    <p><strong>Zona:</strong> A pasos de las mejores empresas de envío</p>
    <p><strong>Referencia:</strong> AV Cesar vallejo</p>
    <p><strong>Teléfono:</strong> 904 190 146</p>
    <p><strong>Correo: </strong>
  <a [href]="'mailto:' + email">{{ email }}</a>
</p>

  </div>
  <div class="map-section">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.6663855665916!2d-77.03174898572243!3d-12.123998646087385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8d0d479e9cf%3A0xc8b0a577df51d489!2sLarcomar!5e0!3m2!1ses-419!2spe!4v1683510936932!5m2!1ses-419!2spe"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
      <a href="https://www.google.com/maps" class="btn-location" target="_blank">Ver en Google Maps</a>

  </div>
</div>

</div>
