<div class="productos-container">

  <h2>Todos los productos</h2>
<div class="search-box">
  <input 
    type="text" 
    placeholder="Buscar productos..."
    [(ngModel)]="searchQuery"
    (input)="filtrarProductos()"
  >
</div>

  <!-- GRID -->
  <div class="productos-grid">
    <div 
      class="producto-card" 
      *ngFor="let producto of productosPaginados"
      (click)="verDetalle(producto)"
    >

      <!-- Favorito -->
      <button class="favorito-btn">
        <i class="fa-solid fa-heart heart"></i>
      </button>

      <!-- Imagen -->
      <img [src]="producto.image" [alt]="producto.name">

      <!-- Información -->
      <div class="producto-info">
        <h3>{{ producto.name }}</h3>
        <p>{{ producto.description }}</p>

        <div class="botones">
          <button class="btn-detalle">Ver Detalles</button>
          <button class="btn-cotizar">Cotizar</button>
        </div>
      </div>

    </div>
  </div>

  <!-- PAGINACIÓN -->
  <div class="pagination-container" *ngIf="totalPaginas > 1">
    <button 
      class="page-btn" 
      [disabled]="paginaActual === 1"
      (click)="cambiarPagina(paginaActual - 1)">
      «
    </button>

    <button 
      class="page-btn"
      *ngFor="let page of paginas"
      [class.active]="page === paginaActual"
      (click)="cambiarPagina(page)">
      {{ page }}
    </button>

    <button 
      class="page-btn" 
      [disabled]="paginaActual === totalPaginas"
      (click)="cambiarPagina(paginaActual + 1)">
      »
    </button>
  </div>

</div>
